body {
    overscroll-behavior: contain;
}
.btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
}
.btn-tile {
    border: 1px solid black !important;
    margin-right: 5px !important;
    margin-top: 1px !important;
    height: 50px !important;
    width: 50px !important;
}
.bg-success {
    background-color: #92D293 !important;
}
.bg-warning {
    background-color: #E0D268 !important;
}
.keyboard-btn {
    margin-top: 10px;
    margin-right: 5px;
    height: 50px;
}
#scroll-container {
    height: 375px;
    border-bottom: 1px solid black;
    margin-top: 10px;
}
#row-id {
    margin-right: 10px;
}
